<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <script src="StudentRegister.js"></script> -->
    <script>
      let currentStudentId = sessionStorage.getItem('currentUserId');
      let students = JSON.parse(localStorage.getItem('students'));
      let currentStudent = null;
      for (let i = 0; i < students.length; i++) {
        if (students[i].id == currentStudentId) {
          currentStudent = students[i];
          break;
        }
      }
      console.log(currentStudent);
    </script>
  </body>
</html>
